body{
  margin: 0;
  padding-bottom: 600px;
}

.parent{
  border: 2px solid black;
  display:flex;
  justify-items:center;
  align-items: center;
  gap: 10px;
  width: max-content;
  margin-left: 200px;
}

.anchor{
  border-radius: 50%;
  height: 70px;
  aspect-ratio: 1;
  background-color: green;
  margin-left: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu{
  position:absolute;
  z-index: 60;
  min-width: 8ch;
  background-color: #fff;
  font-size: 1rem;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 4px;
  display: none;
}

.item{
  cursor: pointer;
  padding: 6px;
}
.item:hover{
  background-color: rgba(0,0,0,0.1);
}