.drop-down {
  height: 60px;
  aspect-ratio: 10/4;
  span {
    color: currentColor;
  }
  .dots {
    position: relative;
    cursor: pointer;
  }
  .menu {
    position: absolute;
    left: 20px;
    padding: 4px;
    border-radius: 6px;
    min-width: max-content;
    border: 1px solid blue;
    display: none;
  }
  .item:hover {
    background-color: rgb(236, 236, 236);
  }
}
